<div (load)="init()">
  <header>
    <h1>Decoders</h1>
    <div>Main Goal of this stuff is to make some primitive cypher decoders</div>
  </header>
  <section>
    <div style="text-align: center;">
      This will be a Veigner cypher. there are a few ways to do this one and I will do it the way I was taught.
      <br />
      Type your message in either the "Encoded Message" or the "Decoded Message" boxes and, as long as you have a
      key, there will be a message written into the opposite
      box.
    </div>
  </section>
  <section>
    <h4>Cypher</h4>
    <div #CypherCollection class="cypher-collection" (change)="setCryption(this)">
      <input type="radio" name="cypher" value="Veigner">Veigner
      <input type="radio" name="cypher" value="Ceasar" />Ceasars
    </div>
    <ol class="selected-cyphers-order">
    </ol>
    <br />
    <h4>Cypher Order</h4>
    <h3>Encoded Message</h3>
    <div>the encrypted version goes here.</div>
    <textarea #crypted id="crypted" title="Crypted" rows="8" cols="100" type="text" (focus)="setState('decode')"
      (change)="decode()"></textarea>
    <br />
    <br />
    <h3>Decoded Message</h3>
    <div>the plain english version goes here.</div>
    <textarea #message id="message" title="Message" rows="8" cols="100" type="text" (focus)="setState('encode')"
      (change)="encode()"></textarea>


  </section>
</div>