html {
    min-width: 574px;
}
header, section {
    margin-bottom: 20px;
}

.game-field {
    width:100%;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.white {
    color:grey;
}

.opponent {
    height: 320px;
    display:flex;
    flex-direction: column;
    align-items: center;
}
.opponent .opponent-hand {
    margin-top: 30px;
}

.opponent .opponent-hand, .player .player-hand .player-hands{
    font-size: 120pt;
    line-height: 120pt;
}
.opponent-hand-choice{
    height: 80pt;
    display: flex;
    align-items: center;
}

.opponent, .score-player, .score-opponent {
    text-align: center;
}

.player-hands:not(:last-of-type) {
    margin-right: 30pt;
}
.player-hand {
    height: 180pt;
}
.score-player, .score-opponent {
    height: 100px;
    min-width: 200px;
    display:flex;
    flex-direction: column;
    align-items: center;
}
.player {
    width:100%;
    display: flex;
    font-size: 32pt;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 50px;
}

.score-outcome {
    font-size: 40pt;
}
